<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium placeat distinctio sapiente illum eos fugiat libero
        in nisi mollitia maxime. Amet officia ea officiis ab odio alias, iste nobis, minus dolor culpa ut impedit inventore
        est recusandae, eius dolorem voluptas itaque repudiandae tempore magnam eligendi beatae distinctio et. Aut, earum!</p>
    {{> footer}}
</body>
</html>